@font-face {
    font-family: Futura_Bold;
    src: url("../font/FuturaLT/FuturaBold.otf") format("opentype");
}

@font-face {
    font-family: FuturaMedium;
    src: url("../font/FuturaLT/Futura Medium.otf") format("opentype");
}
@font-face {
    font-family: 'FuturaPT_Book' , sans-serif;
    src: url("../font/FuturaLT/FuturaPT-Book.ttf") format('truetype');
}
@font-face {
    font-family: 'FuturaLTBook' , sans-serif;
    src: url("../font/FuturaLT/FuturaLTBook.ttf") format('truetype');
}
@font-face {
    font-family: AvenirLTStd-Book;
    src: url("../font/AvenirLTStd-Book.otf") format("opentype");
}
@font-face {
    font-family: AvenirLTStd-Black;
    src: url("../font/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
    font-family: 'AEH', sans-serif;
    src: url("../font/AEH.ttf") format('truetype');
}
@font-face {
    font-family: AvenirLTStd-Light_2;
    src: url("../font/AvenirLTStd-Light_2.otf") format("opentype");
}

