* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    cursor: pointer;
}

header .menu .orangeHover {
    color: #F36F21;
    border-bottom: 2px solid #F36F21;
}

header .menu .orangeHover a {
    color: #F36F21;
}

.content {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
}

.content .transition {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #1D1D1D;
    color: #F36F21;
    font-family: FuturaLT_Book;
    padding: 0 0 102px 106px;
    font-size: 21px;
}

.content .transition .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #F36F21;
    margin: 0 0 6px;
}

.content .transition .transText {
    color: #F36F21;
    font-family: FuturaLT_Book;
    font-size: 21px;
    margin: 0 20px 6px;
    border-bottom: 1px solid transparent;
}

.content .transition .transText:hover {
    cursor: pointer;
    border-bottom: 1px solid #F36F21;
}

.content .transition .arr {
    width: 6px;
    margin: 0 0 6px;
}

.content .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #1D1D1D;
    padding: 0 44px 100px 106px;
}

.content .h3 {
    font-size: 48px;
    font-weight: bolder;
}

.content .tittleBox {
    width: 100%;
    color: #F36F21;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.h4 {
    font-size: 13px;
    color: white;
    margin: 0;
}

.pageContent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}

.main .tittle {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 30px 76px 0;
}

.main .tegBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .tegBox .teg {
    border-radius: 29px;
    background-color: #F36F21;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px 0 0;
    cursor: pointer;
}

.main .tegBox .teg:last-of-type {
    margin: 0;
}

.main .tegBox .teg .tegText {
    font-size: 14px;
    color: #121212;
    font-family: FuturaLT_Bold;
    margin: 0;
    font-weight: bold;
    width: 130px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .tittle .app {
    font-size: 15px;
    font-family: AvenirLTStd-Light_2;
    color: white;
    font-weight: 100;
    text-align: right;
    cursor: pointer;
}

.main .tittle .app:hover {
    color: white;
}

.main .tittle .app:hover span {
    color: #4EA7FF;
}

.main .tittle .app span {
    font-size: 15px;
    font-family: AEH;
    color: #4EA7FF;
    border-bottom: 1px solid #4EA7FF;
    padding: 0 0 5px;
    margin: 0 0 0 7px;
}

.tittleText {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    font-size: 32px;
    font-family: FuturaMedium;
    color: white;
    width: 100%;
    margin: 0;
    line-height: 32px;
    cursor: pointer;
}

.tittleText:last-of-type {
    margin-bottom: 45px;
}

.tittleText img {
    width: 7px;
    margin: 5px 0 0 10px;
}


/*slider style*/
.owl-carousel {
    width: 100%;
    height: 290px;
    z-index: 1;
    margin: 36px 1vw 132px 0;
}

.owl-carousel .owl-stage-outer,
.owl-carousel .owl-stage,
.owl-carousel.owl-drag .owl-item {
    height: 100%;
}

.item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item .imgBox {
    width: 229px;
    height: 100%;
    padding: 0 0 0.05vw 0.05vw;
    background-color: #F36F21;
    position: relative;
}

.item .imgBox img {
    width: 100%;
    height: 100%;
}

.item .h4 {
    font-size: 28px;
    font-family: Futura_Bold;
    text-align: center;
}

.item .p {
    font-size: 19px;
    font-family: FuturaMedium;
    text-align: center;
    margin: 0;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background-color: transparent;
    border-radius: 50%;
    width: 24px;
    height: 34px;
    top: 43%;
    right: -22px;
    background-image: url(../img/arrowR.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 53% center;
    position: absolute;
}

.owl-carousel .owl-nav button.owl-prev {
    left: -22px;
    transform: rotate(180deg);
}

.owl-carousel .owl-nav button.owl-next:focus,
.owl-carousel .owl-nav button.owl-prev:focus {
    outline: none;
}

.owl-carousel .owl-nav button.owl-next span,
.owl-carousel .owl-nav button.owl-prev span {
    display: none;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.owl-carousel .imgBox .img-fluid .imgHover:hover {
    transform: scale(1.1);
}

.owl-carousel .imgBox .img-fluid {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 0.5s;
    overflow: hidden;
    border: 1px solid #F36F21;
    box-sizing: border-box;
}

.owl-carousel .imgBox .imgHover {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s;
    filter: brightness(0.4);
}

.owl-carousel .imgBox .img1 {
    background-image: url(../img/img11.png);
}

.owl-carousel .imgBox .img2 {
    background-image: url(../img/img12.png);
}

.owl-carousel .imgBox .img3 {
    background-image: url(../img/img13.png);
}

.owl-carousel .imgBox .img4 {
    background-image: url(../img/img14.png);
}

.owl-carousel .imgBox .img5 {
    background-image: url(../img/img15.png);
}

.owl-carousel .imgBox .img16 {
    background-image: url(../img/img8.png);
}

.owl-carousel .imgBox .img17 {
    background-image: url(../img/img9.png);
}

.owl-carousel .imgBox .img18 {
    background-image: url(../img/img10.png);
}

.main .imgRes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 40px;
    padding: 0 30px 0 0;
}

.main .imgRes .left,
.main .imgRes .right,
.main .imgRes .top {
    width: 50%;
}

.main .imgRes .right,
.main .imgRes .left,
.main .imgRes .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .imgRes .left:first-of-type {
    margin: 0 29px 0 0;
}

.main .imgRes .orangeBox {
    background-color: #F36F21;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main .imgRes .left .orangeBox {
    height: 542px;
}

.main .imgRes .right .orangeBox {
    margin: 0 0 25px;
}

.main .imgRes .right .orangeBox:last-of-type {
    margin: 0;
}

.main .imgRes .orangeBox .img {
    width: 100%;
    height: 100%;
    position: relative;
    left: 4px;
    bottom: 4px;
    overflow: hidden;
}

.main .imgRes .orangeBox .img1,
.main .imgRes .orangeBox .img2,
.main .imgRes .orangeBox .img3,
.main .imgRes .orangeBox .img4 {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .5s;
}

.main .imgRes .orangeBox .img1:hover,
.main .imgRes .orangeBox .img2:hover,
.main .imgRes .orangeBox .img3:hover,
.main .imgRes .orangeBox .img4:hover {
    transform: scale(1.1);
}

.main .imgRes .orangeBox .img2 {
    height: 277px;
}

.main .imgRes .orangeBox .img3 {
    height: 240px
}

.main .imgRes .orangeBox .img4 {
    height: 295px
}

.main .imgRes .top {
    height: 295px;
}

.main .imgRes .top:first-of-type {
    margin: 0 29px 0 0;
}

.main .imgRes .shareBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    padding: 0 24px 24px;
}

.main .imgRes .shareBox .share {
    width: 44px;
    height: 44px;
    background-color: #F36F21;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-right: 10px;
    cursor: pointer;
}

.main .imgRes .shareBox .share:nth-of-type(1) {
    background-image: url(../img/Group5679.png);
}

.main .imgRes .shareBox .share:nth-of-type(2) {
    background-image: url(../img/face.png);
}

.main .imgRes .shareBox .share:nth-of-type(3) {
    background-image: url(../img/whatsUp.png);
}



@media (max-width: 1920px) {
    .content {
        max-width: 62vw;
    }

    .content .transition {
        padding: 0 0 5.3vw 5.52vw;
        font-size: 1.1vw;
    }

    .content .transition .circle {
        width: 0.8vw;
        height: 0.8vw;
        border-radius: 50%;
        margin: 0 0 0.3vw;
    }

    .content .transition .transText {
        font-size: 1.1vw;
        margin: 0 1.05vw 0.3vw;
    }

    .content .transition .arr {
        width: 0.31vw;
        margin: 0 0 0.3vw;
    }

    .content .main {
        padding: 0 2.3vw 5.21vw 5.52vw;
    }

    .content .h3 {
        font-size: 2.5vw;
    }

    .content .tittleBox {
        width: 100%;
    }

    .h4 {
        font-size: 0.68vw;
    }

    .main .tittle {
        padding: 1.67vw 1.56vw 3.96vw 0;
    }

    .main .tegBox .teg {
        border-radius: 2vw;
        margin: 0 0.83vw 0 0;
    }

    .main .tegBox .teg .tegText {
        font-size: 0.73vw;
        width: 7.2vw;
        height: 2.45vw;
    }

    .textRes .tittle .app,
    .textRes .tittle .app span {
        font-size: 0.78vw;
    }

    .main .imgRes .left:first-of-type {
        margin: 0 1.5vw 0 0;
    }

    .main .imgRes .left .orangeBox {
        height: 28.23vw;
    }

    .main .imgRes .orangeBox .img {
        left: 0.21vw;
        bottom: 0.21vw;
    }

    .main .imgRes .right .orangeBox {
        margin: 0 0 1.3vw;
    }

    .main .imgRes .orangeBox .img3 {
        height: 12.5vw;
    }

    .main .imgRes .orangeBox .img2 {
        height: 14.43vw;
    }

    .tittleText {
        font-size: 1.67vw;
        line-height: 1.67vw;
    }

    .owl-carousel {
        height: 15.11vw;
        margin: 1.88vw 1vw 6.88vw 0;
    }

    .item .imgBox {
        width: 12vw;
    }

    .item .h4 {
        font-size: 1.46vw;
    }

    .item .p {
        font-size: 1vw;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 1.25vw;
        height: 1.78vw;
        right: -1.1vw;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -1.1vw;
    }

    .tittleText:last-of-type {
        margin-bottom: 2.35vw;
    }

    .main .imgRes .top:first-of-type {
        margin: 0 1.5vw 0 0;
    }

    .main .imgRes .top,
    .main .imgRes .orangeBox .img4 {
        height: 15.37vw;
    }

    .main .imgRes .shareBox {
        padding: 0 1.25vw 1.25vw;
    }

    .main .imgRes .shareBox .share {
        width: 2.3vw;
        height: 2.3vw;
        margin-right: 0.5vw;
    }

    .main .imgRes {
        margin: 0 0 2.1vw;
        padding: 0 1.56vw 0 0;
    }

}



@media (max-width: 1080px) {

    .content .main {
        padding: 5.6vw 8.8vw 11.21vw 8.2vw;
        background-color: transparent;
    }

    .content {
        max-width: 100vw;
    }

    .content .transition {
        background-color: transparent;
        padding: 0 0 1.46vw 12vw;
    }

    .content .tittleBox {
        padding-left: 3.8vw;
    }

    .content .transition .transText {
        font-size: 3vw;
        margin: 0 1.05vw 0.3vw;
    }

    .content .transition .circle {
        width: 2vw;
        height: 2vw;
        margin: 0 3.6vw 0.3vw 0;
    }

    .content .transition .arr {
        width: 0.91vw;
        margin: 0 0 0vw;
    }

    .content .h3 {
        font-size: 4.45vw;
    }

    .main .tegBox .teg {
        border-radius: 5vw;
        margin: 0 1.83vw 0 0;
    }

    .main .tegBox .teg .tegText {
        font-size: 1.67vw;
        width: 14.6vw;
        height: 5.3vw;
    }

    .main .tittle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3.67vw 1.56vw 5.1vw 3.8vw;
    }

    .main .tittle .app {
        font-size: 1.8vw;
        text-align: left;
        margin: 3.8vw 0 0;
    }

    .main .tittle .app span {
        font-size: 1.8vw;
        padding: 0 0 0.5vw;
        margin: 0 0 0 0.7vw;
    }

    .tittleText {
        font-size: 3.52vw;
        line-height: 3.52vw;
        padding-left: 3.8vw;
    }

    .tittleText img {
        display: none;
    }

    .owl-carousel {
        width: 92%;
        height: 22.3vw;
        margin: 2.8vw 0vw 9.64vw;
    }

    .item .h4 {
        font-size: 2.23vw;
    }

    item .p {
        font-size: 1.5vw;
    }

    .item .imgBox {
        width: 24.2vw;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        width: 2.25vw;
        height: 3.6vw;
        right: -4.1vw;
    }

    .owl-carousel .owl-nav button.owl-prev {
        left: -4.1vw;
    }

    .main .imgRes .left .orangeBox {
        height: 40vw;
    }

    .main .imgRes .top,
    .main .imgRes .orangeBox .img4 {
        height: 24vw;
    }

    .main .imgRes .orangeBox .img2 {
        height: 18.6vw;
    }

    .main .imgRes .orangeBox .img3 {
        height: 19.9vw;
    }

    .main .imgRes {
        margin: 0 0 2.1vw;
        padding: 0;
    }

    .main .imgRes .shareBox .share {
        width: 3.7vw;
        height: 3.7vw;
        margin-right: 1vw;
    }

    .main .imgRes .shareBox {
        padding: 0 2.5vw 1.6vw;
    }

    .main .imgRes .orangeBox .img {
        left: 0.41vw;
        bottom: 0.41vw;
    }

}

@media all and (max-width:768px) {
    .rotateTriang {
        width: 3.4vw;
    }

    .main .tittle .app,
    .main .tittle .app span {
        font-size: 2.8vw;
    }

    .main .tegBox .teg .tegText {
        font-size: 2.4vw;
        height: 7.3vw;
        width: 22vw;
    }

    .item .h4 {
        font-size: 2.7vw;
    }

    .item .p {
        font-size: 2vw;
    }

    .content .h3 {
        font-size: 5.3vw;
    }

    .main .imgRes .shareBox .share {
        width: 5.4vw;
        height: 5.4vw;
        margin-right: 1vw;
    }

}
